<html>
{% load staticfiles %}
	<title>Motor: Phaser4.</title>
<script src="{% static 'Phaser/phaser.js' %}"></script>

<head>
</head>

<body>
</body>

<script>
	// Ultima modificacion: 31/10/2015
	// Falta agregar Mario y el fondo.	

	var game = new Phaser.Game(800, 700, Phaser.CANVAS, 'renderCanvas',{
		preload:preload, create: create, update:update, render:render });

	function preload() {
		game.load.spritesheet('misil',"{% static 'Phaser/misil-chico.png' %}");
		// Personaje.
		// Seleccionar spritesheet para el personaje:
		game.load.spritesheet('mario' ,"{% static 'Phaser/Mario_mov.png' %}",200,390);
		// Imagenes del terreno.
		game.load.image('piso'  ,"{% static 'Phaser/phaser1/madera.jpg' %}");
		game.load.image('hojas_verdes' ,"{% static 'Phaser/phaser1/hojas_verdes.jpg' %}");
		game.load.image('muro'  ,"{% static 'Phaser/phaser1/ladrillo.jpg' %}");
	}

	// Fondo:
	var fondo;
	var jardin;
	var muros;

	// Jugador:
	var player;
	var facing = 'left';
	var cursors;

	// Misil:
	var misiles;
	var misilContar = 0;	
	var bulletTime = 0;

	function create() {

		// Imagen 1:
		jardin = game.add.sprite(94,94,'hojas_verdes');
		// Otra forma de escalar una imagen.
		jardin.scale.setTo(0.94,1.25);

		// Imagen 2:
		for (var j=0; j<=4 ; j++) {
			for (var i=0; i<=4 ; i++) {
				fondo = game.add.sprite(100+i*100,100+j*100,'piso');
				fondo.setScaleMinMax(0.1,0.15);
			}
		}

		// Image 3:
		// Muros de piedra:
		for (var i=0; i<14 ; i++) {
			muros = game.add.sprite(85+i*30,85,'muro');
			muros.scale.setTo(0.05,0.05);
			}

		for (var i=0; i<23 ; i++) {
			muros = game.add.sprite(85,85+i*22,'muro');
			muros.scale.setTo(0.05,0.05);
			}

		for (var i=0; i<17 ; i++) {
			muros = game.add.sprite(85+i*30,85+22*22,'muro');
			muros.scale.setTo(0.05,0.05);
			}

		for (var i=0; i<23 ; i++) {
			muros = game.add.sprite(85+16*30,85+i*22,'muro');
			muros.scale.setTo(0.05,0.05);
			}

		// Imagen 4: Mario.
		player = game.add.sprite(200,300,'mario');
		// Modifico su escala.
		player.setScaleMinMax(0.5,0.5);

		game.camera.follow(player);

		// PARTE 2:
		// Necesario para habilitar el movimiento por teclado.
		// Para el jugador.
		game.physics.enable(player, Phaser.Physics.ARCADE);
		
		player.animations.add('left' , [0], 1, true);
		player.animations.add('right', [1], 1, true);

		misiles = game.add.group();
		misiles.enableBody = true;		
		misiles.physicsBodyType = Phaser.Physics.ARCADE;		
		
		misiles.createMultiple(30, 'misil');
		//misiles.scale.setTo(0.1,0.1);
		misiles.setAll('outOfBoundsKill', true);
		misiles.setAll('checkWorldBounds', true);		

		game.physics.enable(misiles, Phaser.Physics.ARCADE);

		cursors = game.input.keyboard.createCursorKeys();
	}

	function update() {

		if (game.input.activePointer.isDown) {			
			fire();
		}

    	player.body.velocity.x = 0;
    	player.body.velocity.y = 0;

    	if (cursors.left.isDown) {

    		// Los limites de las paredes:
    		// Mario no los puede traspasar.
    		if (player.body.position.x >= 113) {

        		player.body.velocity.x = -150;
        		if (facing != 'left') {
            		player.animations.play('left');
            		facing = 'left';
        		}        		
        	}
        	else {
        		player.body.velocity.x = 0;
        	}
    	}
    	
    	else if (cursors.right.isDown) {

    		if (player.body.position.x <= 463) {
        		player.body.velocity.x = 150;

        		if (facing != 'right') {
            		player.animations.play('right');
            		facing = 'right';
        		}
        	}
        	else {
        		player.body.velocity.x = 0;
        	}
    	}
    	
    	else if (cursors.up.isDown) {

    		if (player.body.position.y >= 76) {
        		player.body.velocity.y = -150;
        		}
        	
        	else {
        		player.body.velocity.y = 0;
        		}
        	}
    	
    	else if (cursors.down.isDown) {

    		if (player.body.position.y <= 412) {
    			player.body.velocity.y = 150;	
    		}
    		else {
    			player.body.velocity.y = 0;	
    		}
        	
        	}

    	else {
        	if (facing != 'idle') {
	            player.animations.stop();
            	
            	if (facing == 'left') {
                	player.frame = 0;
                }
            	else {
                	player.frame = 1;
            	}
            	facing = 'idle';
        	}
    	}
	}
	
	function fire() {		
		
		if ( game.time.now > bulletTime ) {

			var misil = misiles.getFirstDead();

			misil.reset(player.x + 60, player.y + 90);
			misil.rotation = game.physics.arcade.moveToPointer(misil, 300);
			bulletTime = game.time.now + 300;
			misilContar++;			

		}
	}

	function render() {
		game.debug.text('Misil: ' + misilContar, 500, 32);

		game.debug.text('Player.x: ' + player.x, 500, 90);
		game.debug.text('Player.y: ' + player.y, 500, 110);

		game.debug.text('misil.x: ' + misiles.x, 500, 130);
		game.debug.text('misil.y: ' + misiles.y, 500, 150);
	}

</script>
</html>